<html>
  <head>
    <title>Page potin</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin n°<%= gossip_tab[0] %></p>
    <p>Son auteur : <%= gossip_tab[1] %></p>
    <p>Le contenu du potin : <%= gossip_tab[2] %></p>
    <br><br>
    <p>pour revenir a l'index <a href="/">cliquez ici</a>.</p>
  </body>
</html>